.m-badge {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  gap: 0.3em;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 0.1em 0.25em;
  line-height: 1;
  font-size: var(--m-badge-font-size);
  background-color: var(--m-badge-background-color);
  color: var(--m-badge-color);
  font-weight: var(--m-badge-font-weight);
  white-space: nowrap;
  font-family: var(--m-badge-font-family);
  vertical-align: middle;
  text-transform: uppercase;
}

:first-child.m-badge {
  border-top-left-radius: var(--m-badge-border-radius);
  border-bottom-left-radius: var(--m-badge-border-radius);
}

:last-child.m-badge {
  border-top-right-radius: var(--m-badge-border-radius);
  border-bottom-right-radius: var(--m-badge-border-radius);
}
