.m-article-preview-headline {
  color: var(--m-headline-color);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: normal;
  cursor: pointer;
}

.m-article-preview-headline-link {
  color: inherit;
  text-decoration: none;
}

.m-article-preview-headline:hover {
  color: var(--m-headline-hover-color);
}

:is(.column-split, .beta) .m-article-preview-headline {
  font-size: 0.975rem;
}

.gamma .m-article-preview-headline {
  font-size: 1.875rem;
}

.mol-mobile .m-article-preview-headline {
  line-height: 1.18;
}
