.m-live .m-live-bullet-text {
  padding-left: 0.9em;
}

.m-live .m-bullet-icon {
  background: radial-gradient(circle, transparent 53%, var(--m-badge-background-color) 53.5%, var(--m-badge-color) 60%);
  position: absolute;
  left: 0.3em;
  border-radius: 50%;
  height: 0.65em;
  width: 0.65em;
  margin-top: -0.05em;
}

.m-live .m-bullet-icon::before {
  background-image: radial-gradient(
    circle,
    var(--m-badge-color) 37%,
    var(--m-badge-background-color) 37.5%,
    transparent 38%
  );
  background-position: center;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: m-live 1.7s ease infinite;
  left: 0;
}

@keyframes m-live {
  0%,
  100% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.2);
  }
}
