:root {
  /* PALETTE */
  --m-red: #f03649;
  --m-red-2: #c00;
  --m-white: #fff;
  --m-black: #000;

  /* SIGNPOSTING */
  --m-badge-background-color: var(--m-red);
  --m-badge-color: var(--m-white);
  --m-badge-font-weight: inherit;
  --m-badge-font-size: 0.8em;
  --m-badge-font-family: inherit;
  --m-badge-border-radius: 0;
  --m-plus-badge-border-radius: 0.39181rem;

  /* HEADLINE */
  --m-headline-color: var(--m-black);
  --m-headline-hover-color: var(--m-red-2);

  /* Default styles */
  [is|='m'] *,
  [is|='m'] ::before,
  [is|='m'] ::after {
    box-sizing: inherit;
  }

  [is|='m'] {
    box-sizing: border-box;
  }
}
